.banner-p {
  border-color: rgb(6, 122, 87);
}

.banner-profile {
  background: linear-gradient(300deg, rgb(255, 6, 255), #350634);
  max-width: 400px;
  max-height: 400px;
}

.banner-image {
  max-width: 400px;
  max-height: 400px;
}

.bg-purple {
  background: linear-gradient(30deg, purple, rgb(202, 16, 72));
  padding: 20px 20px;
}

.alignment-cv-btn {
  top: 0px;
  right: 0px;
}

.alignment-linkedin-btn {
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
}

.alignment-github-btn {
  bottom: 0px;
  right: 0px;
}

.shifters-btn img{
filter: brightness(0) invert(1);

}